extend layout

block content
    h1 Forgot Password
    form(method='POST',action='/passreset/forgotpassword')
        #form-group
            label Username
            input.form-control(name='username',type='text')
        #form-group
            label Email
            input.form-control(name='email',type='text')
        br
        input.btn.btn-primary(type='submit', value='Submit')
        br